.n-kbd {
  background: var(--n-kbd-background);
  border: var(--n-kbd-border-width) solid var(--n-kbd-border-color);
  border-radius: var(--n-kbd-radius);
  color: var(--n-kbd-foreground);
  display: inline-block;
  font-family: var(--n-kbd-font-family);
  font-size: var(--n-kbd-font-size);
  font-weight: var(--n-kbd-font-weight);
  line-height: 1;
  padding: var(--n-kbd-padding-block) var(--n-kbd-padding-inline);
  vertical-align: baseline;
  white-space: nowrap;
}

@media (forced-colors: active) {
  .n-kbd {
    border-color: CanvasText;
  }
}
