.n-visually-hidden {
  block-size: var(--n-border-width-default);
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  inline-size: var(--n-border-width-default);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.n-spinner {
  animation: n-spin var(--n-spinner-duration) linear infinite;
  border: var(--n-spinner-border-width) solid currentColor;
  border-block-start-color: var(--n-button-border-transparent);
  border-radius: var(--n-radius-full);
  block-size: var(--n-spinner-size-md);
  color: var(--n-color-action-primary);
  display: inline-block;
  inline-size: var(--n-spinner-size-md);
}

.n-spinner[data-size="sm"] {
  block-size: var(--n-spinner-size-sm);
  inline-size: var(--n-spinner-size-sm);
}

.n-spinner[data-size="lg"] {
  block-size: var(--n-spinner-size-lg);
  inline-size: var(--n-spinner-size-lg);
}

@keyframes n-spin {
  to {
    transform: rotate(var(--n-transform-spin));
  }
}

@media (prefers-reduced-motion: reduce) {
  .n-spinner {
    animation-duration: var(--n-duration-slow);
  }
}
